{
    "trailingComma": "es5",
    "printWidth": 90,
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "tabWidth": 4,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "endOfLine": "auto"
}
